def get_token(bigip, url, creds):
    import time
    payload = {}
    payload['username'] = creds[0]
    payload['password'] = creds[1]
    payload['loginProviderName'] = 'tmos'
    try:
        token_response = bigip.post(url, json.dumps(payload))
    except:
        token_response = "UNABLE"
    try:
        valid_code = token_response['code']
    except:
        if token_response == "UNABLE":
            valid_code = "NONE"
        else:
            valid_code = token_response.status_code
            token_response_value = token_response.json()
    if valid_code == 200:
        token = token_response_value['token']['token']
    else:
        if valid_code == "NONE":
            token = "NONE"
        else:
            time.sleep(3)
            token_response = bigip.post(url, json.dumps(payload))
            try:
                valid_code = token_response['code']
            except:
                valid_code = token_response.status_code
                token_response_value = token_response.json()
            if valid_code == 200:
                token = token_response_value['token']['token']
            else:
                time.sleep(3)
                token_response = bigip.post(url, json.dumps(payload))
                try:
                    valid_code = token_response['code']
                except:
                    valid_code = token_response.status_code
                    token_response_value = token_response.json()
                if valid_code == 200:
                    token = token_response_value['token']['token']
                else:
                    token = "NONE"
    return token


import requests, json, sys, string, time

requests.packages.urllib3.disable_warnings()
lbname = sys.argv[1]

url_base = 'https://%s/mgmt' % lbname
url_auth = '%s/shared/authn/login' % url_base
url_syncstate = '%s/tm/cm/sync-status' % url_base
bip = requests.session()
bip.headers.update({'Content-Type': 'application/json'})
bip.auth = ("{{ lb_username }}", "{{ lb_password }}")
bip.verify = False
token = get_token(bip, url_auth, ("{{ lb_username }}", "{{ lb_password }}"))
try:
    if token == "NONE":
        if pool_member_field == 'NONE':
            print "Status ::: Authentication Error occurred while connecting to Load Balancer"
        else:
            print "Authentication Error occurred while connecting to Load Balancer to retrieve updated status of Pool Member"
    else:
        bip.auth = None
        bip.headers.update({'X-F5-Auth-Token': token})
        sync_response = bip.get(url_syncstate)
        if sync_response.status_code == 200:
            sync_results = sync_response.json()
            sync_status = sync_results['entries']['https://localhost/mgmt/tm/cm/sync-status/0']['nestedStats']['entries']['status']['description']
            if sync_status == 'In Sync':
                pass
            else:
                time.sleep(5)
                sync_response = bip.get(url_syncstate)
                if sync_response.status_code == 200:
                    sync_results = sync_response.json()
                    sync_status = sync_results['entries']['https://localhost/mgmt/tm/cm/sync-status/0']['nestedStats']['entries']['status']['description']
                    if sync_status == 'In Sync':
                        pass
                    else:
                        time.sleep(10)
                        sync_response = bip.get(url_syncstate)
                        if sync_response.status_code == 200:
                            sync_results = sync_response.json()
                            sync_status = sync_results['entries']['https://localhost/mgmt/tm/cm/sync-status/0']['nestedStats']['entries']['status']['description']
                        else:
                            sync_status = 'NA'
                else:
                    sync_status = 'NA'
        else:
            sync_status = 'NA'
        print sync_status
except:
    print "Status ::: Exception Error occurred while executing the script"
