import f5.bigip
import sys
import getpass
import string
virual_server = sys.argv[1]
lbname = sys.argv[2]
#username = sys.argv[3]
#password = sys.argv[4]
mgmt = f5.bigip.ManagementRoot(lbname, "{{ lb_username }}", "{{ lb_password }}")
vips = mgmt.tm.ltm.virtuals.get_collection()
pools = mgmt.tm.ltm.pools.get_collection()
pool_collection = []
pool_monitor = []
pool_session = []
pool_state = []
for vip in vips:
   if vip.name == virual_server:
      poolname = string.split(vip.pool,"/")[2]
      print(poolname)
for pool in pools:
   if pool.name == poolname:
      pool_collection = []
      pool_monitor = []
      pool_session = []
      pool_state = []
      pool_status = []
      member_status ='NA'
      for member in pool.members_s.get_collection():
         if member.session == "user-disabled":
            pool_status.append("RED")
            member_status = "RED"
         else:
            if member.state == "up":
               pool_status.append("GREEN")
               member_status = "GREEN"
            else:
               pool_status.append("AMBER")
               member_status = "AMBER"
         print("Pool Member ::: ",virual_server,"-",pool.name,"-",member.name,"\t\tStatus: ",member_status)
         pool_collection.append(member.name)
         pool_monitor.append(member.monitor)
         pool_session.append(member.session)
         pool_state.append(member.state)
         pool_status.append(member_status)
   else:
      continue
