def get_token(bigip, url, creds):
    import time
    payload = {}
    payload['username'] = creds[0]
    payload['password'] = creds[1]
    payload['loginProviderName'] = 'tmos'
    try:
        token_response = bigip.post(url, json.dumps(payload))
    except:
        token_response = "UNABLE"
    try:
        valid_code = token_response['code']
    except:
        if token_response == "UNABLE":
            valid_code = "NONE"
        else:
            valid_code = token_response.status_code
            token_response_value = token_response.json()
    if valid_code == 200:
        token = token_response_value['token']['token']
    else:
        if valid_code == "NONE":
            token = "NONE"
        else:
            time.sleep(3)
            token_response = bigip.post(url, json.dumps(payload))
            try:
                valid_code = token_response['code']
            except:
                valid_code = token_response.status_code
                token_response_value = token_response.json()
            if valid_code == 200:
                token = token_response_value['token']['token']
            else:
                time.sleep(3)
                token_response = bigip.post(url, json.dumps(payload))
                try:
                    valid_code = token_response['code']
                except:
                    valid_code = token_response.status_code
                    token_response_value = token_response.json()
                if valid_code == 200:
                    token = token_response_value['token']['token']
                else:
                    token = "NONE"
    return token


import requests, json, sys, string

requests.packages.urllib3.disable_warnings()
vip_field = sys.argv[1]
lbname = sys.argv[2]
pool_member_field = sys.argv[3]

url_base = 'https://%s/mgmt' % lbname
url_auth = '%s/shared/authn/login' % url_base
url_vip = '%s/tm/ltm/virtual/' % url_base
url_pool = '%s/tm/ltm/pool/' % url_base
url_node = '%s/tm/ltm/node/' % url_base
bip = requests.session()
bip.headers.update({'Content-Type': 'application/json'})
bip.auth = ("{{ lb_username }}", "{{ lb_password }}")
bip.verify = False
token = get_token(bip, url_auth, ("{{ lb_username }}", "{{ lb_password }}"))
if len(str.split(vip_field,"/")) > 1:
    input_field = str.split(vip_field,"/")[2]
else:
    input_field = vip_field
try:
    if token == "NONE":
        if pool_member_field == 'NONE':
            print("Status ::: Authentication Error occurred while connecting to Load Balancer")
        else:
            print("Authentication Error occurred while connecting to Load Balancer to retrieve updated status of Pool Member")
    else:
        vip_response = bip.get(url_vip + input_field)
        if vip_response.status_code == 200:
            vip_results = vip_response.json()
            virtual_server = string.replace(vip_results['fullPath'], "/", "~")
        else:
            vip_results = 'NONE'
        try:
            if len(string.split(virtual_server, "~")) == 1 and vip_results['partition'] == 'Common':
                virtual_server = '~Common~' + virtual_server
        except:
            if len(string.split(virtual_server, "~")) == 1:
                virtual_server = '~Common~' + virtual_server

        try:
            printpoolname = string.split(vip_results['pool'], "/")[2]
            poolname = string.replace(vip_results['pool'], "/", "~")
        except:
            printpoolname = poolname = "NONE"

        if vip_results == "NONE" or vip_response.status_code == 404:
            if pool_member_field == 'NONE':
                print('Status ::: Virtual Server was not found (VIPs are case sensitive)')
        else:
            try:
                if vip_results['partition'] == 'Common':
                    print_virtual_server = vip_results['name']
                    print_poolname = printpoolname
                else:
                    print_virtual_server = virtual_server
                    print_poolname = poolname
            except:
                print_virtual_server = vip_results['name']
                print_poolname = printpoolname
            vip_stats_response = bip.get(url_vip + virtual_server + '/stats')
            vip_stats_results = vip_stats_response.json()
            try:
                vip_availability_state = \
                vip_stats_results['entries']['https://localhost/mgmt/tm/ltm/virtual/' + virtual_server + '/stats'][
                    'nestedStats']['entries']['status.availabilityState']['description']
                vip_enabled_state = \
                vip_stats_results['entries']['https://localhost/mgmt/tm/ltm/virtual/' + virtual_server + '/stats'][
                    'nestedStats']['entries']['status.enabledState']['description']
                vip_status_reason = \
                vip_stats_results['entries']['https://localhost/mgmt/tm/ltm/virtual/' + virtual_server + '/stats'][
                    'nestedStats']['entries']['status.statusReason']['description']
            except:
                vip_availability_state = vip_stats_results['entries'][
                    'https://localhost/mgmt/tm/ltm/virtual/' + virtual_server + '/' + virtual_server + '/stats'][
                    'nestedStats']['entries']['status.availabilityState']['description']
                vip_enabled_state = vip_stats_results['entries'][
                    'https://localhost/mgmt/tm/ltm/virtual/' + virtual_server + '/' + virtual_server + '/stats'][
                    'nestedStats']['entries']['status.enabledState']['description']
                vip_status_reason = vip_stats_results['entries'][
                    'https://localhost/mgmt/tm/ltm/virtual/' + virtual_server + '/' + virtual_server + '/stats'][
                    'nestedStats']['entries']['status.statusReason']['description']
            vip_tip = vip_availability_state.capitalize() + ' (' + vip_enabled_state + ') : ' + vip_status_reason

        if poolname == "NONE":
            pool_availability_state = pool_enabled_state = "NONE"
            pool_status_reason = "No Default Pool configured"
        else:
            pool_stats_response = bip.get(url_pool + poolname + "/stats")
            pool_stats_results = pool_stats_response.json()
            if len(string.split(poolname, "~")) == 1:
                poolname = '~Common~' + poolname
            try:
                pool_availability_state = \
                pool_stats_results['entries']['https://localhost/mgmt/tm/ltm/pool/' + poolname + '/stats'][
                    'nestedStats']['entries']['status.availabilityState']['description']
                pool_enabled_state = \
                pool_stats_results['entries']['https://localhost/mgmt/tm/ltm/pool/' + poolname + '/stats'][
                    'nestedStats']['entries']['status.enabledState']['description']
                pool_status_reason = \
                pool_stats_results['entries']['https://localhost/mgmt/tm/ltm/pool/' + poolname + '/stats'][
                    'nestedStats']['entries']['status.statusReason']['description']
            except:
                pool_availability_state = pool_stats_results['entries'][
                    'https://localhost/mgmt/tm/ltm/pool/' + poolname + '/' + poolname + '/stats']['nestedStats'][
                    'entries']['status.availabilityState']['description']
                pool_enabled_state = pool_stats_results['entries'][
                    'https://localhost/mgmt/tm/ltm/pool/' + poolname + '/' + poolname + '/stats']['nestedStats'][
                    'entries']['status.enabledState']['description']
                pool_status_reason = pool_stats_results['entries'][
                    'https://localhost/mgmt/tm/ltm/pool/' + poolname + '/' + poolname + '/stats']['nestedStats'][
                    'entries']['status.statusReason']['description']

        if pool_status_reason == ' ':
            pool_tip = pool_availability_state.capitalize() + ' (' + pool_enabled_state + ')'
        else:
            pool_tip = pool_availability_state.capitalize() + ' (' + pool_enabled_state + ') : ' + pool_status_reason

        if vip_results == "NONE" or vip_response.status_code == 404:
            poolname = "NA"
        else:
            if pool_member_field == 'NONE':
                print " VIP Name::: ", print_virtual_server, " - ", vip_tip
                print " Pool Name::: ", print_poolname, " - ", pool_tip

        if poolname == "NONE" or poolname == "NA":
            pool_members = []
        else:
            pool_member_stats_response = bip.get(url_pool + poolname + "/members/stats")
            pool_member_stats_results = pool_member_stats_response.json()
            pool_member_stats = pool_member_stats_results['entries']
            pool_member_response = bip.get(url_pool + poolname + "/members")
            pool_member_results = pool_member_response.json()
            pool_members = pool_member_results['items']

        if pool_members == []:
            if poolname == "NA":
                if pool_member_field == 'NONE':
                    print "Status ::: Please validate the VIPname (case sensitive)"
            else:
                if pool_member_field == 'NONE':
                    print "Status::: No Pool Member configured"
        else:
            if pool_member_field == 'NONE':
                print "Pool Members and their status:"
            for item in pool_members:
                pm_availability_state = pool_member_stats[
                    'https://localhost/mgmt/tm/ltm/pool/' + poolname + '/members/' + string.replace(item['fullPath'],
                                                                                                    "/",
                                                                                                    "~") + "/stats"][
                    'nestedStats']['entries']['status.availabilityState']['description']
                pm_enabled_state = pool_member_stats[
                    'https://localhost/mgmt/tm/ltm/pool/' + poolname + '/members/' + string.replace(item['fullPath'],
                                                                                                    "/",
                                                                                                    "~") + "/stats"][
                    'nestedStats']['entries']['status.enabledState']['description']
                pm_status_reason = pool_member_stats[
                    'https://localhost/mgmt/tm/ltm/pool/' + poolname + '/members/' + string.replace(item['fullPath'],
                                                                                                    "/",
                                                                                                    "~") + "/stats"][
                    'nestedStats']['entries']['status.statusReason']['description']
                pm_tip = pm_availability_state.capitalize() + ' (' + pm_enabled_state + ') : ' + pm_status_reason
                node_stats_response = bip.get(
                    url_node + string.split(string.replace(item['fullPath'], "/", "~"), ":")[0] + '/stats')
                node_stats_results = node_stats_response.json()
                try:
                    node_availability_state = node_stats_results['entries']['https://localhost/mgmt/tm/ltm/node/' +
                                                                            string.split(
                                                                                string.replace(item['fullPath'], "/",
                                                                                               "~"), ":")[
                                                                                0] + '/stats']['nestedStats'][
                        'entries']['status.availabilityState']['description']
                    node_enabled_state = node_stats_results['entries']['https://localhost/mgmt/tm/ltm/node/' +
                                                                       string.split(
                                                                           string.replace(item['fullPath'], "/", "~"),
                                                                           ":")[0] + '/stats']['nestedStats'][
                        'entries']['status.enabledState']['description']
                    node_status_reason = node_stats_results['entries']['https://localhost/mgmt/tm/ltm/node/' +
                                                                       string.split(
                                                                           string.replace(item['fullPath'], "/", "~"),
                                                                           ":")[0] + '/stats']['nestedStats'][
                        'entries']['status.statusReason']['description']
                except:
                    node_availability_state = node_stats_results['entries']['https://localhost/mgmt/tm/ltm/node/' +
                                                                            string.split(
                                                                                string.replace(item['fullPath'], "/",
                                                                                               "~"), ":")[0] + '/' +
                                                                            string.split(
                                                                                string.replace(item['fullPath'], "/",
                                                                                               "~"), ":")[
                                                                                0] + '/stats']['nestedStats'][
                        'entries']['status.availabilityState']['description']
                    node_enabled_state = node_stats_results['entries']['https://localhost/mgmt/tm/ltm/node/' +
                                                                       string.split(
                                                                           string.replace(item['fullPath'], "/", "~"),
                                                                           ":")[0] + '/' + string.split(
                        string.replace(item['fullPath'], "/", "~"), ":")[0] + '/stats']['nestedStats']['entries'][
                        'status.enabledState']['description']
                    node_status_reason = node_stats_results['entries']['https://localhost/mgmt/tm/ltm/node/' +
                                                                       string.split(
                                                                           string.replace(item['fullPath'], "/", "~"),
                                                                           ":")[0] + '/' + string.split(
                        string.replace(item['fullPath'], "/", "~"), ":")[0] + '/stats']['nestedStats']['entries'][
                        'status.statusReason']['description']
                node_tip = node_availability_state.capitalize() + ' (' + node_enabled_state + ') : ' + node_status_reason
                node_response = bip.get(url_node + string.split(string.replace(item['fullPath'], "/", "~"), ":")[0])
                node_results = node_response.json()
                node_session = node_results['session']
                node_state = node_results['state']
                member_session = item['session']
                member_state = item['state']

                if pool_member_field == 'NONE':
                    print item['name'], " - ", pm_tip
                else:
                    if item['name'] == pool_member_field:
                        print "Pool Member - ", item['name'], " - ", pm_tip
except:
    print "Status ::: Exception Error occurred while executing the script"
