def get_token(bigip, url, creds):
    import time
    payload = {}
    payload['username'] = creds[0]
    payload['password'] = creds[1]
    payload['loginProviderName'] = 'tmos'
    try:
        token_response = bigip.post(url, json.dumps(payload))
    except:
        token_response = "UNABLE"
    try:
        valid_code = token_response['code']
    except:
        if token_response == "UNABLE":
            valid_code = "NONE"
        else:
            valid_code = token_response.status_code
            token_response_value = token_response.json()
    if valid_code == 200:
        token = token_response_value['token']['token']
    else:
        if valid_code == "NONE":
            token = "NONE"
        else:
            time.sleep(3)
            token_response = bigip.post(url, json.dumps(payload))
            try:
                valid_code = token_response['code']
            except:
                valid_code = token_response.status_code
                token_response_value = token_response.json()
            if valid_code == 200:
                token = token_response_value['token']['token']
            else:
                time.sleep(3)
                token_response = bigip.post(url, json.dumps(payload))
                try:
                    valid_code = token_response['code']
                except:
                    valid_code = token_response.status_code
                    token_response_value = token_response.json()
                if valid_code == 200:
                    token = token_response_value['token']['token']
                else:
                    token = "NONE"
    return token


import requests, json, sys, string

requests.packages.urllib3.disable_warnings()
node_input = sys.argv[1]
lbname = sys.argv[2]

url_base = 'https://%s/mgmt' % lbname
url_auth = '%s/shared/authn/login' % url_base
url_node = '%s/tm/ltm/node/' % url_base
bip = requests.session()
bip.headers.update({'Content-Type': 'application/json'})
bip.auth = ("{{ lb_username }}", "{{ lb_password }}")
bip.verify = False
token = get_token(bip, url_auth, ("{{ lb_username }}", "{{ lb_password }}"))
try:
    if token == "NONE":
        print "Status ::: Authentication Error occurred while connecting to Load Balancer"
    else:
        node_stats_response = bip.get(url_node + node_input + '/stats')
        node_stats_results = node_stats_response.json()
        try:
            node_availability_state = node_stats_results['entries']['https://localhost/mgmt/tm/ltm/node/~Common~' +
                                                                    node_input+ '/stats']['nestedStats'][
                'entries']['status.availabilityState']['description']
            node_enabled_state = node_stats_results['entries']['https://localhost/mgmt/tm/ltm/node/~Common~' +
                                                               node_input + '/stats']['nestedStats'][
                'entries']['status.enabledState']['description']
            node_status_reason = node_stats_results['entries']['https://localhost/mgmt/tm/ltm/node/~Common~' +
                                                               node_input + '/stats']['nestedStats'][
                'entries']['status.statusReason']['description']
        except:
            node_availability_state = node_stats_results['entries']['https://localhost/mgmt/tm/ltm/node/~Common~' +
                                                                    node_input + '/~Common~' +
                                                                    node_input + '/stats']['nestedStats'][
                'entries']['status.availabilityState']['description']
            node_enabled_state = node_stats_results['entries']['https://localhost/mgmt/tm/ltm/node/~Common~' +
                                                               node_input + '/~Common~' + node_input + '/stats']['nestedStats']['entries'][
                'status.enabledState']['description']
            node_status_reason = node_stats_results['entries']['https://localhost/mgmt/tm/ltm/node/~Common~' +
                                                               node_input + '/~Common~' + node_input + '/stats']['nestedStats']['entries'][
                'status.statusReason']['description']
        node_tip = node_availability_state.capitalize() + ' (' + node_enabled_state + ') : ' + node_status_reason
        print node_input, " - ", node_tip
except:
    print "Status ::: Exception Error occurred while executing the script"
